{% extends "base_generic.html" %}

{% block content %}
  <h1>Course List</h1>
  {% if course_avrg %}
    <h1>Overall Teram Average: <i>{{ term_avrg }}</i></h1>
    <ul>
      {% for key, value in course_avrg.items %}
      <a href="{{ key.get_absolute_url }}" style="color: black">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Course Average: {{ value }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ key.name }}</h5>
          <p class="card-text"><button type="button" class="btn btn-danger btn-sm"><a href="delete/{{ key.id }}" style="color: black">remove</a></button></p>
        </div>
      </div>
      </a>
      {% endfor %}
    </ul>
  {% else %}
    <h1>No courses yet</h1>
  {% endif %}
{% endblock %}