{% extends "base_generic.html" %}

{% block content %}
  <h1>Create Course</h1>
  
  <form action="{% url 'add-course' %}" method="POST" onsubmit="myFunction()">
    {% for field in form %}
    <div style="width:0%; text-align: end">
        {{ field.name }}
        {{ field.homeworks }}
        {{ field.quizzes }}
        {{ field.midterms }}
        {{ field.final }}
        {{ field }}
    </div>
    {% endfor %}
      {% csrf_token %}
      <input type="submit" value="Submit"></input>
  </form>
    
{% endblock %}