{% extends "base_generic.html" %}

{% block content %}
  <h1>ClassChamp Dashboard</h1>
  <!--
  <ul>
    <li><strong>Student Name:</strong> {{ student_name }}</li>
    <li><strong>Course Name</strong> {{ course_name }}</li>
    <li><strong>Course Average</strong> {{ overall_avrg }}</li>
  </ul>
  -->
  <!--Google Calendar-->
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%2333ffff&amp;src=2f9n0o3tflfcvoeh8fs5382cfg%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FVancouver" style="border-width:0" align="center" width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}